div.navigation
	ul
		li: a(href = '/dashboard', class = (_.activePage == 'dashboard' ? 'active' : ''))
			i.fa.fa-tv
			span Dashboard

		li: a(href = '/collections', class = (_.activePage == 'collections' ? 'active' : ''))
			i.fa.fa-folder-open-o
			span Collections

		li: a(href = '/settings', class = (_.activePage == 'settings' ? 'active' : ''))
			i.fa.fa-gears
			span Settings

		li: a(href = '/auth/logout')
			i.fa.fa-sign-out
			span Log out
