div.navigation
	ul
		li: a(href = '/dashboard', class = (_.activePage == 'dashboard' ? 'active' : ''))
			i.fa.fa-tv
			span Dashboard

		li: a(href = '/populate')
			i.fa.fa-database
			span Populate

		li: a(href = '/library', class = (_.activePage == 'library' ? 'active' : ''))
			i.fa.fa-film
			span Library

		li: a(href = '/settings', class = (_.activePage == 'settings' ? 'active' : ''))
			i.fa.fa-gears
			span Settings