extends ../_shared/root-layout
include ../_mixins/forms

block head
	link(rel = 'stylesheet', href = '/collections/css/collections.css')

block body

	- collection = collection || {}

	h1= _.title

	div.row: div.col-md-6

		form(action = '/collections/edit/' + (collection._id || 0), method = 'post')

			+form_fieldset
				+form_label('title', 'Title')
				+form_textInput('title', collection.title, {
					'data-validation': 'required alphanumeric',
					'data-validation-allowing': '._-'
				})

			+form_fieldset
				+form_label('parent_id', 'Parent')
				+form_dropdownInput('parent_id', parentOptions, collection.parent_id || null)

			+form_fieldset({class: 'file-path-group'})
				+form_label('file_path', 'File Path')
				+form_textInput('file_path', collection.file_path, {
					'data-validation': 'required alphanumeric',
					'data-validation-allowing': '._\\\-/'
				})

			+form_fieldset
				+form_button('Save', 'save', {'class': 'btn btn-success'})

block scripts
	+plugin_bootbox
	+plugin_validation
	script(src = '/_shared/js/confirm-delete.js')
	script(src = '/collections/js/edit.js')