extends ../_shared/root-layout

block head
	link(rel = 'stylesheet', href = '/items/css/items.css')

block body_full_width
	div.bg

	div.container
		div.row
			div.col-md-3.img-column
				+randomCoverImage(220, 280, {'class': 'item-cover'})

			div.col-md-9.text-column
				h1= item.title
				each value, key in item.meta
					- key = key.substr(0, 1).toUpperCase() + key.substr(1)
					p #[strong #{key}:] #{value}