@import 'defaults';

// fonts

h1, h2, h3, h4, h5, h6, p, li, input, textarea, label, span {
	font-family: $fontFamily, sans-serif !important;
	font-weight: lighter;
	color: $textColour;
}

.text-muted {
	color: $textMuted;
}

.text-very-muted {
	color: $textVeryMuted;
}

// text sizes and layout

h1 {
	margin: 8px 0;
	font-size: 3em;
}

p, li, label {
	font-size: 1.25em;
}

p.subtitle {
	font-size: 1.4em;
	margin: 0 0 25px;
}

input, textarea {
	font-size: 1.1em;
}

label.btn {
	font-size: 1em;
}

a {
	color: $textColour;
}