@import 'defaults';

// fonts

h1, h2, h3, h4, h5, h6, p, li, input, textarea, label, span {
	font-family: $fontFamily, sans-serif !important;
	font-weight: lighter;
	color: $textColour;
}

.text-muted {
	color: $textMuted;
}

.text-highlighted {
	color: $textHighlight;
}

.text-very-muted {
	color: $textVeryMuted;
}

// text sizes and layout

h1 {
	margin: 8px 0;
	font-size: 3em;
}

p, li, label {
	font-size: 1.25em;
}

p.subtitle {
	font-size: 1.4em;
	margin: 0 0 25px;
}

input, textarea {
	font-size: 1.1em;
}

label.btn {
	font-size: 1em;
}

a {
	color: $textColour;
}

// common elements

div.item-or-collection-image {
	margin: 0 auto;
	box-shadow: 0 0 20px #bbbbbb;
	border-radius: 6px;
	height: 280px;
	width: 220px;
	background: #eeeeee url('/_shared/img/no-image-icon.png') center no-repeat;

	img {
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}
}

.item-or-collection-image-label {
	margin-top: 10px;
}