@import 'defaults';

div.navigation {
	width: 100%;
	margin: 0;
	padding: 6px 0;
	text-align: center;
	background-color: #333333;
	position: relative;

	ul {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		color: #ffffff;

		li {
			display: inline-block;
			font-size: 1.4em;
			font-weight: normal;
			list-style-type: none;
			margin-left: 30px;

			a {
				text-decoration: none;
				display: block;

				i {
					margin-right: 5px;
					color: #bbbbbb;
				}

				span {
					color: #ffffff;
				}
			}

			a.active {
				i {
					color: $textHighlight;
				}
			}

			a:hover {
				span {
					text-decoration: underline;
				}
			}
		}

		li:first-of-type {
			margin-left: 0;
		}
	}
}
